/*----root----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: unset;
}

body{
    overflow-x: hidden;
}

.pointer{
    cursor: pointer;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.contain{
    object-fit: contain;
}

.cover{
    object-fit: cover;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.t-c{
    text-align: center;
}

.t-e{
    text-align: end;
}

.a-c{
    align-items: center;
}  

.baseline{
    align-items: baseline;
}

.j-c{
    justify-content: center;
}

.j-e{
    justify-content: end;
}

.j-b{
    justify-content: space-between;
}

.capitalize{
    text-transform: capitalize;
}
 
.uppercase{
    text-transform: uppercase;
}

.hidden{
    overflow: hidden;
}


.letra-blanco{
    color: #efefef;
}


.letra-titulo{
    font-family: titulo;
}

.letra-subtitulo{
    font-family: subtitulo;
}

.letra-400{
    font-family: letra-400;
}

.letra-600{
    font-family: letra-600;
}

